html
{
    background-color: white;
}

h1
{
    text-align:left;
    padding-left: 2%;
    font-family: Papyrus,fantasy;
    font-size: 50px;
    color: #003559;
}

h2
{
    text-align:right;
    padding-right: 2%;
    float: right;
    font-family: Papyrus,fantasy;
    font-size: 30px;
    color: #003559;
}

h3
{
    padding-left: 2%;
    margin-bottom: 2px;
    text-align:left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
    font-size: 22px;
    color: white;
}

h1, h2 {
    display: inline;
}

p
{
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 0px;
    text-align:left;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    color: white;
}

nav {
    text-align: center;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
li { 
    padding-left:35px;
    padding-top: 6px;
    padding-bottom: 6px;
}

a:link {
    text-decoration: none;
    color: #003559;
}

a:visited {
    text-decoration: none;
    color: #003559;
    }

a:hover {
    text-decoration: none;
    color: white;
}
    
div {
    background-color: #fff0d6;
    }

section {
    background-color: #d4e9ff;
    position: sticky;
    top:0;
    }
    
body {
    margin: 0px;
}

div.text {
    background-color: #003559;
    padding: 2%;
    border: solid white;
    border-top-width: 10px;
    border-bottom-width:10px;
    border-left-width: 10px;
    border-right-width: 10px;
    height: 900px;
}

.ghost-button {
  display: grid;
  width: 400px;
  padding: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #003559;
  border: 3px solid white;
  text-align: center;
  vertical-align: middle;
  outline: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto;
}

a.ghost-button {
    color: white;
    vertical-align: middle; 
    text-align: center;
}

iframe.left {
    float: left;
    border-width: 0px;
}

iframe.right {
    float: right;
    border-width: 0px;
}

iframe.left, iframe.right {
  display: inline;  
}

div h3 {
    text-align: center;
}
