html
{
    background-color: white;
}

h1
{
    text-align:left;
    padding-left: 2%;
    font-family: Papyrus,fantasy;
    font-size: 50px;
    color: #003559;
}

h2
{
    text-align:right;
    padding-right: 2%;
    float: right;
    font-family: Papyrus,fantasy;
    font-size: 30px;
    color: #003559;
}

h3
{
    padding-left: 2%;
    margin-bottom: 2px;
    text-align:left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}

h1, h2 {
    display: inline;
}

p
{
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 0px;
    text-align:left;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    color: white;
}

nav {
    text-align: center;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
li { 
    padding-left:35px;
    padding-top: 6px;
    padding-bottom: 6px;
}

a:link {
    text-decoration: none;
    color: #003559;
}

a:visited {
    text-decoration: none;
    color: #003559;
    }

a:hover {
    text-decoration: none;
    color: white;
}
    
div {
    background-color: #fff0d6;
    }

section {
    background-color: #d4e9ff;
    position: sticky;
    top:0;
    }
    
body {
    margin: 0px;
}

div.text {
    background-color: #003559;
    padding: 2%;
    border: solid white;
    border-top-width: 10px;
    border-bottom-width:10px;
    border-left-width: 10px;
    border-right-width: 10px;
}

.ghost-button {
  display: grid;
  width: 400px;
  padding: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #003559;
  border: 3px solid white;
  text-align: center;
  vertical-align: middle;
  outline: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto;
}

a.ghost-button {
    color: white;
    vertical-align: middle; 
    text-align: center;
}

div.dropdown, div.dropdown-content{
    background-color: #003559;   
}

button.dropbtn {
  width: 400px;
  padding: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #003559;
  border: 3px solid white;
  text-align: center;
  vertical-align: middle;
  outline: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto;
}


.dropbtn {
  background-color: #003559;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: 3px solid white;
  width: 300px;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: #005339;
  background-color: #b8dbff;
  padding: 12px 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #fff0d6; color: #005339;}

.dropdown:hover .dropdown-content {display: block;}
