html
{
    background-color: #003559;
}

h3
{
    padding-left: 2%;
    margin-bottom: 2px;
    text-align:left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}

p
{
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 0px;
    text-align:left;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    color: white;
}

div.dropdown, div.dropdown-content{
    background-color: #003559;   
}

button.dropbtn {
  width: 300px;
  padding: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #003559;
  color: white;
  border: 3px solid white;
  text-align: center;
  vertical-align: middle;
  outline: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-left: 50%
}


.dropbtn {
  background-color: #003559;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: 3px solid white;
  width: 300px;
  display: block;
  margin-left: 50%
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: #005339;
  background-color: #b8dbff;
  padding: 12px 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #fff0d6; color: #005339;}

.dropdown:hover .dropdown-content {display: block;}

span.noun {
    color: #b8dbff;
}
span.verb {
    color: #b8dbff;
}
span.sound_device {
    text-decoration:underline
}
span.name {
    color: #b8dbff
    }

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
div.tooltip span.tooltiptext {
  visibility: hidden;
  width: 40px;
  background-color: #b8dbff;
  color: #003559;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

